<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پویش</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body onload="loading()">
    <main>
        <div class="background-pic">
            <header>
                <ul class="navbar">
                        <img src="images/logo.png" width="100px" height="auto" class="logo">
                    <li><a href="/#download-container">دانلود</a></li>
                    <li>
                        <div class="dropdown-container">
                            <a href="/#features-container">امکانات</a>
                            <div class="dropdown-content">
                                <a href="movies-page">انواع فیلم ها</a>
                                <a href="/#second-feature">انواع سریال ها</a>
                                <a href="/#third-feature">پخش زنده</a>    
                            </div>
                        </div>
                    </li>
                    <li><a href="/#social-media-container">تماس با ما</a></li>
                    <li><a href="/#footer-container">درباره ما</a></li>
                    <li><a id="register-nav-link" href="user">ثبت نام / ورود</a></li>
                </ul>
            </header>
            <div id="download-container">
                <div class="download-text">
                    <h1>برترین برنامه‌ی تماشای  فیلم و سریال های روز</h1>
                    <p>با بیش از میلیون‌ ها کاربر</p>
                    <a href="/#download-badge-container">شروع کنید!</a>
                </div>
                <div class="mobile-slide">
                    <img class="slide-image" src="images/1stDemo.png" >
                    <img class="slide-image" src="images/2ndDemo.png" >
                    <img class="slide-image" src="images/3rdDemo.png" >
                </div>
            </div>
        </div>
        <div id="download-badge-container">
            <h1>دانلود پویش</h1>
            <p>!پویش رو از فروشگاه های زیر دانلود کن</p>
            <div id="download-badges">
                <img src="images/badge-bazaar.png" width="170px">
                <img src="images/app-store-badge.svg" width="170px">
                <img src="images/google-play-badge.svg" width="170px">
            </div>
        </div>
        <div id="features-container">
            <div class="features" id="first-feature">
                <div class="feature-text">
                    <h1>هزاران فیلم خارجی و ایرانی</h1>
                    <hr style="width: 20em;">
                    <br>
                    <p>
                        با استفاده از برنامه پویش میتونید از هزاران فیلم و انیمیشن ایرانی و خارجی که به صورت آنلاین در اختیار شما عزیزان هست لذت ببرید.<br>
                        آرشیو فیلم ها و انیمیشن ها برنامه ی پویش هر روزه به روز رسانی میشه تا امکان مشاهده آخرین شاهکار های روز رو در اختیار داشته باشید.<br>
                        از همه مهمتر امکان تماشای تمامی فیلم های مجموعه به صورت HD وجود داره و دیگر نیازی به نگرانی در خصوص کیفیت فیلم ها ندارید، در ضمن تمامی دیتای استفاده شده در این وب سایت به صورت تعرفه داخلی محاسبه میشه.
                    </p>
                </div>
                <img src="images/1stDemo.png">
            </div>
            <div class="features" id="second-feature">
                <div class="feature-text">
                    <h1>تماشای سریال‌های روز جهان</h1>
                    <hr style="width: 21em;">
                    <br>
                    <p>
                            اگر شما هم به دنبال سریال های روز دنیا به صورت دوبله فارسی هستید، پویش بهترین انتخاب برای تماشای سریال های مورد علاقتون هست.<br>
                            با پویش میتوید سریال های روز دنیا رو که به صورت فارسی دوبله شدند و در اختیار شما عزیزان قرار گرفتند رو در هر زمان از روز تنها با اتصال به اینترنت مشاهده کنید.<br>
                            همچنین به زودی امکان دانلود تمامی قسمت های سریال های مورد علاقه شما به صورت اپیزودیک در برنامه قرار میگیرد که میتونه شما رو از هزینه های اضافی نیز راحت کنه.
                    </p>
                </div>
                <img src="images/2ndDemo.png">
            </div>
            <div class="features" id="third-feature">
                <div class="feature-text">
                    <h1>تماشای آنلاین و پخش زنده</h1>
                    <hr style="width: 20em;">
                    <br>
                    <p>
                            تماشای آنلاین هزاران ساعت فیلم و سریال به آسانی و با بهترین کیفیت تنها با استفاده از اپلیکیشن گویش.<br>
                            با استفاده از برنامه گویش میتونید هر کجا که هستید به صورت زنده برنامه های تلویزیونی و یا فیلم و سریال مورد علاقتون رو تماشا کنید<br>
                            با تنها چند کلیک میتونید برنامه ی دلخواهتون رو به صورت زنده استریم کنید و از چیزی جا نمونید!
                    </p>
                </div>
                <img src="images/3rdDemo.png">
            </div>
        </div>
        <div id="social-media-container">
            <h2>ما را در شبکه های اجتماعی دنبال کنید</h2>
            <img src="images/telegram.png">
            <img src="images/twitter.png">
            <img src="images/instagram.png">
        </div>
    </main>
    <footer id="footer-container">
        <div class="left-footer">
           <img src="images/logo.png" width="200px">
           <p id="developer">توسعه داده شده توسط یاشار زمانی</p>
        </div>
        <div class="right-footer">
                <h1>درباره ما</h1>
                <p>پویش محصول جدید ماست. آرشیوی از بهترین فیلم‌های ایران و جهان شامل فیلم سینمایی، سریال‌، مستند و فیلم-تئاترهایی که به راحتی برای تماشا در اختیار شما قرار گرفته است.<br>
                    یکی از برترین امکانات پویش، تنظیم کیفیت پخش فیلم و سریال با سرعت اینترنت شما است تا در طول پخش فیلم بتوانید بدون ‌وقفه فیلم ببینید.<br>
                    مگه رو یه CD یا یه هارد چندتا فیلم میشه ذخیره کرد؟ در پویش، چندبرابر این مقدار فیلم در اختیار توست :) این عالی نیست؟!
                </p>
        </div>
    </footer>
</body>
<script src="scripts/main.js"></script>
<script>
    function loading() {
        console.log("Fuck" + <%= isSignedIn %>);
        if (<%= isSignedIn %> == true) {
            const registerLink = document.getElementById("register-nav-link");
            registerLink.innerHTML = " خوش آمدید <%= registerLinkContent %> عزیز"
            registerLink.removeAttribute("href")
            registerLink.setAttribute("class", "welcome")
        }
   } 
</script>
</html>