<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ثبت نام / ورود</title>
    <link type="text/css" rel="stylesheet" href="styles/user.css">
</head>
<body onload="check()">
    <div id="register-con">
        <h1 id="register-title">ثبت نام</h1>
        <hr>
        <form id="form" action="user" method="POST">
            <div id="register-form">
                <h3>نام کاربری</h3>
                <input type="text" name="username" required>
                <h3>رمز عبور</h3>
                <input type="password" name="password" required>
                <div id="email-con">
                    <h3>ایمیل</h3>
                    <input id="email" type="email" name="email" required> 
                </div>
            </div>
            <div id="submit-con">
                <button class="user-buttons" id="register-btn" type="submit" name="register">ثبت نام</button>
                <a class="user-buttons" id="home-btn" href="/" onclick="switchRegister()" style="border: 0">خانه</a>
            </div>
        </form>
        <a onclick="switchLogin()" id="login-link">عضو هستید؟</a>
    </div>
</body>
<script src="scripts/user.js"></script>
<script>
    function check() {
        if (<%= isMessage %> == true)
        {
            alert("<%= message %>");
        }
        if (<%= wrongInfo %> == true) {
            alert('نام کاربری و رمز عبور وارد شده صحیح نیستند، لطفا مجدد امتحان کنید')
        } else {
            return;
        }
    }
</script>
</html>